.feed-main{
    display: flex;
    flex-direction: column;
}

.feed-main > div {
    margin-bottom: 10px;
}

.searchHeading {
    margin-top: 20px;
}

.filterQuestions {
    display: flex;
    justify-content: flex-end;
    margin: 0 !important;
  }
  
  .filterQuestionItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50% !important;
  }
  
  .filterQuestionItem label {
    margin-right: 10px;
  }

  .subjectNames {
    width: 100%;
  }
  

  @media only screen and (max-width: 700px) {
    .filterQuestionItem {
        width: 80% !important;
    }    
  }