  body {
    overflow: hidden;
  }

  .nenasa {
    overflow-x: hidden;
  }
  
  .nenasa_contents {
    display: flex;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.05); */
    width: 100%;
    margin-left: 0 !important;
    background-color: #fff;
  }
  
 .side-btn {
    visibility: hidden;
    opacity: 0;
  }

  .side-bar {
    position: absolute;
    left: 20px;
    width: 20%;
    margin-right: 0;
    height: 100%;
    background-color: #fff;
  }

  .feed {
    width: 55%;
    justify-content: center;
    height: 87vh;
    overflow-y: scroll;
    padding-top: 20px;
    padding-right: 30px;
    background-color: #ffffff;
  }

  .widget-bar {
    width: 20%;
    position: absolute;
    right: 20px;
  } 

  .side-menu-btn {
    position: absolute;
    left: 0;
    width: 10px;
  }

  .side-menu-btn:hover {
    width: 10px;
  }

  .side-close-btn {
    display: flex;
    justify-content: flex-end;
  }

  @media only screen and (max-width: 954px) {

    .nenasa_content {
      flex-direction: column;
      align-items: center;
    }

    .side-bar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      transition: 0.5s ease-out;
      background-color: rgba(0, 0, 0, 0.85); /* Dark background with an alpha value of 0.7 for transparency */
      color: white;
      transform: translateX(-100%);
      z-index: 1;
      border: solid #fff 1px;
    }

    .widget-bar {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      transition: 0.5s ease-out;
      background-color: rgba(0, 0, 0, 0.5);
      transform: translateX(100%);
      z-index: 1;
      border: solid #fff 1px;
      background-color: rgba(0, 0, 0, 0.85); /* Dark background with an alpha value of 0.7 for transparency */
    }

    .feed {
      width: 86%;
    }

    .side-btn {
      visibility: visible;
      opacity: 1;
    }

    .responsive_slider {
      transform: none;
    }

    .widget-bar-close {
      color: #fff !important;
    }
  }

  @media only screen and (max-width: 954px) {

    .feed {
      width: 80%;
    }
  }
