  body {
    overflow: hidden;
  }

  .nenasa {
    overflow-x: hidden;
  }
  
  .nenasa_contents {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
 .side-btn {
    visibility: hidden;
    opacity: 0;
  }

  .side-bar {
    position: sticky;
    top: 0;
    width: 15%;
    margin-right: 30px;
  }

  .feed {
    width: 50%;
    justify-content: center;
    height: 87vh;
    overflow-y: scroll;
  }

  .widget-bar {
    width: 20%;
    margin-left: 30px;
  } 

  .side-menu-btn {
    position: absolute;
    left: 0;
    width: 10px;
  }

  .side-menu-btn:hover {
    width: 10px;
  }

  .side-close-btn {
    display: flex;
    justify-content: flex-end;
  }

  @media only screen and (max-width: 954px) {

    .nenasa_content {
      flex-direction: column;
      align-items: center;
    }

    .side-bar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      transition: 0.5s ease-out;
      background-color: rgb(143, 140, 140);
      transform: translateX(-100%);
      z-index: 1;
      border: solid #fff 1px;
    }

    .widget-bar {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      transition: 0.5s ease-out;
      background-color: rgb(143, 140, 140);
      transform: translateX(100%);
      z-index: 1;
      border: solid #fff 1px;
    }

    .feed {
      width: 86%;
    }

    .side-btn {
      visibility: visible;
      opacity: 1;
    }

    .responsive_slider {
      transform: none;
    }
  }

  @media only screen and (max-width: 954px) {

    .feed {
      width: 80%;
    }
  }
