.replyInputField {
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
}

.replyBtn {
    border: 1px solid #000;
    font-size: 0.8rem !important;
    margin-right: 10px;
}