.sidebarOptions {
    display: flex;
    flex-direction: column;
  }

  .sidebarOption {
    display: flex;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .sidebarOption:hover {
    background: #1960EA;
    border-radius: 5px;
    color: #fff;
  }
  
  .sidebarOption > img {
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
  }
  
  .sidebarOption > .MuiSvgIcon-root {
    font-size: medium;
    margin-left: 20px;
  }

  .sidebarOption > h6 {
    margin-left: 15px;
    font-size: 1rem;
  }
  
  .sidebarOption > .text {
    margin-left: 23px;
    color: #000 ;
    font-weight: 400;
    font-size: 13px;
  }
  
  .roleIdentificationCard {
    margin: 5px !important;
  }

  @media only screen and (max-width: 1240px) {
    .sidebarOptions {
      margin-left: 15px !important;
    }    
  }
  