.my-profile {
  height: 84vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.name {
  margin: 0; 
}

.my-profile > h3 {
  margin-bottom: 10px;
}

.profile-card {
  margin-top: 30px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
  justify-content: center;
}

.avatar-image {
  height: 150px;
  width: 160px;
  border-radius: 50%;
  margin-top: 20px;
}

.avatar-name {
  font-size: 1.8rem;
  color: #333;
}

.update-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.inputBox {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 20px;
}

.inputBox span {
  text-align: left;
  margin-top: 15px;
  font-size: 17px;
  color: #333;
}

.box {
  width: 100%;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px 14px;
  font-size: 17px;
  color: #333;
  margin-top: 10px;
}


@media (max-width: 650px) {
  .flex {
    flex-wrap: wrap;
    gap: 0;
  }
  .inputBox {
    width: 100%;
  }
}
