@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

.login-mainDiv {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 104vh;
  margin: -20px 0 50px;
}

Input {
  width: 100px;
}

.userImageUploading {
  margin: 5px 0;
  padding: 10px;
  width: 100%
}